<footer>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    This site uses cookies. Some are essential to the operation of the site. Only essential cookies are enabled by default. More information is available in our <a href="#">Privacy Policy</a>.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <h4>Site Map</h4>
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="#">Stories</a></li>
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</footer>