<footer>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    This site uses cookies. Some are essential to the operation of the site. Only essential cookies are enabled by default. More information is available in our <a href="#">Privacy Policy</a>.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="container">
  <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">Home</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Stories</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Terms and Conditions</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Privacy Policy</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Contact</div>
    </div>
  </div>
  </div>
</footer>