<nav>
    <button onclick="dropdown()" class="dropbtn">StOrIeS</button>
        <div id="dropdownid" class="dropdown-content">
            <a>FiCtIoN</a>
            <a>NoN-FiCtIoN</a>
            <a>OtHeR</a>
</nav>