// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    font-family: 'Lobster', cursive;
    padding-bottom: 4px;
}

#menu {
    position: relative;
    top: -8px;
    font-family: 'Rye', cursive;
}

footer {
    padding: 2px;
    bottom: 10px;
}